PORT=3000
DB_FILE=./server/data/tapco.db
CLIENT_SECRET=TAPCO_CLIENT_SECRET_2024
WITHDRAW_MIN_AMOUNT=100
TIMESTAMP_WINDOW_MS=300000
DAILY_WITHDRAW_LIMIT=5000
WEEKLY_WITHDRAW_LIMIT=20000
WITHDRAW_IP_WINDOW_MS=60000
WITHDRAW_IP_MAX_REQUESTS=10
WITHDRAW_PLAYER_WINDOW_MS=600000
WITHDRAW_PLAYER_MAX_REQUESTS=3
INITIAL_PLAYER_BALANCE=30000
WORKER_INTERVAL_MS=60000
WORKER_BATCH_SIZE=10
RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
TAPCO_CONTRACT=0xYourTapcoTokenContract
TAPCO_TOKEN_DECIMALS=18
TX_CONFIRMATIONS=1
